<%= image_tag @porfolio_item.main_image %>

<h1><%= @porfolio_item.title %></h1>

<em><%= @porfolio_item.subtitle %></em>

<p><%= @porfolio_item.body %></p>

<h2> Technologies Used: </h2>

<% @porfolio_item.technologies.each do |t| %>
  <p> <%= t.name %> </p>
<% end %>